* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  justify-content: center;
}

#wrapper {
  display: flex;
  margin: 0 15px;
  width: 100%;
  flex-direction: column;
}

h2 {
  margin-top: 25px;
  margin-bottom: 10px;
  align-self: center;
}

map {
  height: 400px;
  width: 60%;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  width: 100%;
}

.desc {
  margin: 0 15px;
}

#input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-form input {
  text-align: center;
  width: 100%;
}

#input-form label {
  margin-top: 15px;
  text-align: center;
}

button {
  width: 25%;
  padding: 15px;
}

.coord-buttons-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.coord-buttons {
  margin: 15px 15px;
}

.city-button-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#getCity {
  margin: 15px 0;
}

#output-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
}

#output-form label{
  position: relative;
  right: -20px;
  width: 11%;
  margin-top: 20px;
  margin-right: 5px;
}

#output-form input {
  width: 30%;
  margin-top: 20px;
  margin-right: 15px;

  text-align: center;
  font-size: 20px;
  padding: 0 5px;
}

/* fix */

@media only screen and (min-width: 743px) and (max-width: 849px) {
  #output-form label{
    width: 13%;
    margin-top: 20px;
    margin-right: 5px;
  }
}

/* desktop */
@media only screen and (min-width: 850px) {

  #wrapper {
    align-self: center;
    width: 80%;
  }

  #output-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  #output-form label{
    position: inherit;
    width: 8%;
    margin-top: 20px;
    margin-right: 5px;
  }

  #output-form input {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin-top: 20px;
    margin-right: 15px;

    text-align: center;
    font-size: 16px;
  }
}

.input-error {
  border-color: red;
  font-weight: bolder;
  color: red;

}
