* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

map {
  height: 400px;
  width: 60%;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  width: 100%;
}

.desc {
  margin: 0 15px;
}

#input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-form input {
  text-align: center;
  width: 75%;
}

#input-form label {
  margin-top: 15px;
  text-align: center;
}

button {
  width: 25%;
  padding: 15px;
}

.coord-buttons-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.coord-buttons {
  margin: 15px 15px;
}

.city-button-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#getCity {
  margin: 15px 0;
}

#output-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#output-form label{
  width: 8%;
  margin-top: 20px;
  margin-right: 5px;
}

#output-form input {
  display: flex;
  flex-wrap: wrap;
  width: 22%;
  margin-top: 20px;
  margin-right: 15px;

  text-align: center;
  font-size: 20px;
}
